
.PreviousWrapper {
    display: none;
    background: var(--clr-light);
    color: var(--clr-dark);
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(60%);
    transition: transform 350ms ease;
    padding: 3rem;

  .previous-weather__title {
    text-align: center;
  }

  @-webkit-keyframes slideUpIn {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUpIn {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}