

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi: 500;
    --fw-bold: 700;
    --fs-h1: 1.25rem;
    --fs-h2: 1.75rem;
    --fs-body: 1rem;
    --fs-xl: 4rem;
    --clr-light: #fff;
    --clr-gray: #989898;
    --clr-dark: #444;
    --clr-accent: #D06D6D;
    --clr-accent-dark: #613131;
}

.Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2em;
    padding: 40px 0;
}

.Date {
    h2 {
        font-size: var(--fs-xl);
        margin: 0;
    }
    p {
        font-size: var(--fs-h2);
        margin: 0;
        color: var(--clr-gray);
        font-weight: var(--fw-light);
    }
}

.Temp {
    --border: solid 0.25em var(--clr-accent-dark);
    border-left: var(--border);
    border-right: var(--border);
    padding: 0 2em;
}